@use "../color" as *;
@use "../font" as *;

body {
	background-color: $background-color;
	// vertical-align: middle;
	// display: flex;
	// flex-direction: column;
	// justify-content: center;
	// align-items: center;
	// padding: 0 2rem;
	.card-body {
		img {
			display: block;
			border-radius: 1rem;
			max-width: 100%;
			height: 20rem;
		}
		h1 {
			font-family: $h1-font-family;
			font-size: $h1-font-size;
		}
		display: flex;
		flex-direction: column;
		justify-self: center;
		align-self: center;
		padding: 1rem;
		border-radius: 1rem;
		min-width: 16rem;
		max-width: 22rem;
		min-height: 30rem;
		background-color: $card-background;
		margin: auto;
		// width: 25rem;
		// height: 30rem;
	}
}
